<h1>Admin Dashboard</h1>

<ul class="alert alert-info">
  <li> <strong> Number of products: </strong> <%= @product_count %> </li>
  <li> <strong> Number of categories </strong> <%= @category_count %> </li>
</ul>
